.trade-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  > .bd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.trade-button {
  width: 100%;
  position: relative;

  // :first-child {
  //   width: 100%;
  //   position: relative;
  // }
}

.trade-spinner {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.swap-button {
  border-radius: 2em;
  width: 32px;
  padding-left: 8px;
}

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.trade-address-info-button {
  position: absolute;
  right: 0;
  top: 0;
}

.trade-route {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .hd {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      background: linear-gradient(180deg, #273a5500, #8944ef 50.65%, #273a5500);
      // background: linear-gradient(45deg, #67b5fd, #8944ef, #5632de);
      top: 0;
      bottom: 0;
      right: -1px;
    }
  }

  > .bd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    flex-grow: 1;

    .pool {
      border: 1px solid #383a3e;
      border-radius: 16px;
      padding: 5px 10px;
      text-align: left;
      width: 100%;

      .name {
        color: rgb(126, 150, 184);
        font-size: 14px;
        margin-bottom: 2px;

        @media only screen and (max-width: 600px) {
          text-align: center;
        }
      }

      .amount {
        color: #fff;
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
        }
      }

      .anticon {
        margin: 0 5px;

        @media only screen and (max-width: 600px) {
          transform: rotate(90deg);
          margin: 5px 0;
        }
      }
    }
  }

  > .ft {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      // background: linear-gradient(180deg, #273a5500, #273a55 50.65%, #273a5500);
      background: linear-gradient(180deg, #273a5500, #8944ef 50.65%, #273a5500);
      top: 0;
      bottom: 0;
      left: -1px;
    }
  }
}

.mod-results {
  margin: 20px 0;
  padding: 0 20px;
}

.mod-result {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #37445a;
  border-radius: 8px 12px 12px;
  padding: 10px;
  font-size: 13px;
  margin: 15px 0 0;
  color: #777;
  position: relative;

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
    border-color: #5632de;
    background-color: #383a3e;
  }

  > .ft {
    position: absolute;
    display: block;
    font-size: 11px;
    background: #5632de;
    color: #fff;
    padding: 0px 5px;
    border-radius: 10px 10px 0px 10px;
    position: absolute;
    right: -1px;
    top: -10px;
    z-index: 1;
  }

  .route {
    font-size: 11px;
    color: #999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
}

.loading {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
