.page-dashboard {
  .ant-card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 0px;
  }

  .ant-card-head-title {
    font-size: 18px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    font-size: 16px;
  }

  .ant-card-body {
    padding: 24px 0;
  }

  .ant-table {
    background: none;
    line-height: 2;

    .ant-table-thead > tr > th {
      background: none;
      border-bottom: 1px solid #383a3e;
    }

    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #383a3e;
    }
  }

  .ant-table.ant-table-bordered > .ant-table-container {
    border: 1px solid #383a3e;
  }

  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > td {
    border-right: 1px solid #383a3e;
  }

  > .bd {
    max-width: 1000px;
    min-height: 531px;
    margin: 20px auto 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;

    .sidebar {
      margin-top: 20px;
      width: 150px;

      .token {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 10px;
        border: 1px solid #383a3e;
        border-radius: 10px;
        cursor: pointer;

        .icon {
          width: 20px;
          margin-right: 10px;
        }

        &.active {
          background: linear-gradient(45deg, #67b5fd, #8944ef, #5632de);
        }

        &:hover {
          background-color: #323437;
        }
      }
    }

    .center {
      flex-grow: 1;
      margin: 0 40px;

      > .hd {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .partner-card {
          flex-basis: 45%;
        }

        .partner {
          > .hd {
            text-align-last: left;
            margin-bottom: 15px;
          }

          > .bd {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    .right {
      margin-top: 20px;
      width: 150px;

      .trade {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
