.page-dashboard {
  .ant-card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 0px;
  }

  .ant-card-head-title {
    font-size: 18px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    font-size: 16px;
  }

  .ant-card-body {
    padding: 24px 0;
  }

  .ant-table {
    background: none;
    line-height: 2;

    .ant-table-thead > tr > th {
      background: none;
      border-bottom: 1px solid #383a3e;
    }

    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #383a3e;
    }
  }

  .ant-table.ant-table-bordered > .ant-table-container {
    border: 1px solid #383a3e;
  }

  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > thead
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tbody
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > th,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-body
    > table
    > tfoot
    > tr
    > td,
  .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-summary
    > table
    > tfoot
    > tr
    > td {
    border-right: 1px solid #383a3e;
  }

  .ant-tabs-nav {
    width: 150px;
  }

  > .bd {
    position: relative;

    .assets-mod {
      // max-width: 1200px;
      min-height: 531px;
      margin: 20px;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        max-width: 100vw;
        width: 100vw;
      }
    }

    .sidebar {
      width: 150px;

      @media only screen and (max-width: 600px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .token {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
        margin-bottom: 10px;
        border: 1px solid #383a3e;
        border-radius: 10px;
        cursor: pointer;

        @media only screen and (max-width: 600px) {
          width: 100px;
        }

        .icon {
          width: 20px;
          margin-right: 10px;
        }

        &.active {
          background: linear-gradient(45deg, #67b5fd, #8944ef, #5632de);
        }

        &:hover {
          background-color: #323437;
        }
      }
    }

    .center {
      flex-grow: 1;
      margin: 0 0 0 40px;

      @media only screen and (max-width: 600px) {
        width: 100%;
        margin: 0;
      }

      > .hd {
        display: flex;
        justify-content: space-between;

        .partners {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > .hd {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: .4;
            @media only screen and (max-width: 600px) {
              flex-direction: column;
            }
          }
        }

        .partner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media only screen and (max-width: 600px) {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          > .hd {
            margin-right: 20px;
          }
        }
      }

      > .bd {
        .chart-card {
          .ant-card-body {
            padding: 0 24px 24px;
          }

          .price-chart {
            height: 450px;
            width: 100%;

            @media only screen and (max-width: 600px) {
              height: 300px;
            }
          }
        }
      }
    }

    .right {
      width: 150px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      .trade {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  > .ft {
    position: fixed;
    left: 20px;
    bottom: 20px;

    .pro {
      border: 1px solid #383a3e;
      border-radius: 10px;
      padding: 0px 5px 10px;
      background-color: #272a2e;

      a {
        color: #fff;
      }

      > .bd {
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-dashboard {
    > .bd .assets-mod {
      margin: 20px 0 0;
    }

    .ant-tabs {
      flex-direction: column;
    }

    .ant-tabs-left
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane,
    .ant-tabs-left
      > div
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane {
      padding-left: 0;
    }

    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      width: 100vw;
      flex-direction: row;
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
    .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
      flex-direction: row;
    }

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
    .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
      flex-direction: row;
      flex-grow: 0;
    }

    .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
    .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin-top: 0;
    }

    .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
    .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar {
      display: none;
    }

    > .ft {
      position: static !important;
      margin: 20px 20px 0;
    }
  }
}
