.page-dashboard {
  .ant-card {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 30px 0px;
  }

  .ant-card-head-title {
    font-size: 18px;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    font-size: 16px;
  }

  .ant-card-body {
    padding: 24px 0;
  }

  > .bd {
    min-height: 531px;
  }
}
