.airdrop-card {
  margin: 20px auto 0 !important;

  .airdrop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .hd {
      font-size: 16px;

      @media only screen and (max-width: 600px) {
        font-size: 12px;
      }

      strong {
        font-weight: 700;
      }
    }
  }
}
