.onesol-overview {
  height: 150px;
  margin: 20px 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .hd {
    width: 250px;
  }

  > .bd {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mod {
    flex-basis: 25%;
    margin-right: 20px;
    padding: 1.5rem;
    background-color: #323437;
    border-radius: 12px;

    .subtitle {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }

    .title {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      margin-top: 8px;
    }
  }

  .spec {
    background: none;
  }
}
