.socials {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;

  .flex {
    display: flex;
  }

  .icon {
    width: 30px;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}
