.ccy-input {
  margin-top: 10px;
  margin-bottom: 10px;

  .ant-input-number-input {
    text-align: right;
  }
}

.token-balance {
  color: grey;
}

.ccy-input-header,
.ccy-input-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 0px 0px;
}

.ccy-input-header-left {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  align-items: center;
  font-size: 12px;
  color: #617089;
}

.ccy-input-header-right {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #999;
}

.ccy-input-body {
  background: #090f28;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px;
  height: 50px;
}

.max-btn {
  cursor: pointer;
  font-size: 10px;
  background: #7049f6;
  padding: 2px 8px;
  border-radius: 3px;
  color: #fff;

  &:hover {
    border-color: #5334cf;
    background: #5334cf;
  }
}
