.ccy-input {
  margin-top: 10px;
  margin-bottom: 10px;

  .ant-input-number-input {
    text-align: right;
  }
}

.token-balance {
  color: grey;
}

.ccy-input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.ccy-input-header-left {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  align-items: center;
  font-size: 12px;
  color: #888;
}

.ccy-input-header-right {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #999;
}
