.modal-tokens {
  padding: 1.5rem 0;

  > .bd {
    max-height: 420px;
    overflow: scroll;
  }

  .token-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;

    .token {
      display: flex;
      align-items: center;

      .token-name {
        color: rgba(255, 255, 255, 0.35);
      }
    }
  }
}
